<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "About Me" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <body style="background-color:black;">
        <div class="px-5 py-5 mx-auto">
            <h1 style="color:red;"><strong>About Me</strong></h1>
            <p style="color:white;">This page is managed by Mani T.</p>
            <p style="color:white;"><a href="https://manigggg18.github.io/manimani/">Personal Fastpages</a></p>
        </div>
    </body>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}