{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Mani's Flask Server</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/bb.png') }}" alt="Python Development" height="600">
                    <div class="card-body">
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/flask.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What is <mark>Flask</mark>? How do I start Web development?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Flask Framework is the popular Web Application development framework of Python.</li>
                            <li>Blueprint is utility to help abstract complexity, moving information in independent files and directories.</li>
                            <li>HTML using Bootstrap is a great way to build interesting pages and reduce CSS</li>
                            <li>Jinja2 is a server-side Python like template engine, supports HTML5 web development, and provides full integration with Flask.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/bo.png') }}" alt="Backend and Persistence" height="600">
                    <div class="card-body">
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}